/* .app__headerImage {
  display: none;
} */

.signin__formdiv {
  width: 20rem;
  border: 1px solid lightgray;
  margin: 50px auto 19px auto;
  text-align: center;
}

.signin__formdiv1 {
  width: 20rem;
  padding: 20px 0;
  border: 1px solid lightgray;
  margin: 5px auto;
  text-align: center;
}

.signin__imagediv {
  margin: 30px 0;
}

.signin__inputdiv input {
  width: 70%;
  padding: 8px;
  margin: 5px;
}

.signin__inputdiv button {
  width: 77%;
  padding: 10px;
  margin: 20px 0;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: #0095f6;
  cursor: pointer;
  border-radius: 2px;
}

button:disabled,
button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.signin__hrline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.signin__hrline hr {
  width: 30%;
  margin: 20px 9px 20px 7px;
}

.signin__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin__text1 p {
  margin: 20px 0;
}
